

.comments_details_div{
    display: grid;
    grid-template-columns: 8% 72% 15% ;
    padding : 5px 5px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.comments_details_div img{
    width : 50px;
    aspect-ratio: 1;
    border : 1px solid grey;
    border-radius: 50%;
}
.comments_like_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* border : 1px solid grey; */

}
.comments_like_btns p{
    padding : 5px;
    border: 1px solid grey;
    border-radius: 5px;

}
.comments_like_btns span{
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}